body {
  font-family: Arial,'Oswald', sans-serif;
  background-color: #3E606F;
}

a {
  color: #00B7FF;
}

nav {
  background-color: #FCFFF5;
}

nav ul li a{
  color: black;
  display: inline-block;
  font-family: 'Oswald'
}

#header {
  color:#F24607;
}

.form-wrapper {
  height: 80vh;
}
.post-header {
  font-family: 'Oswald';
  margin: 10vmin;
  padding: 10vmin;
}

