body {
  font-family: Arial,'Oswald', sans-serif;
  background-color: #3E606F;
  display: flex;
  min-height: 100vh;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
   

a {
  color: #00B7FF;
}

nav {
  background-color: #FCFFF5;
}

nav ul li a{
  color: black;
  display: inline-block;
  font-family: 'Oswald'
}

#header {
  color:#F24607;
}

.form-wrapper {
  height: 80vh;
}
.post-header {
  font-family: 'Oswald';
  margin: 10vmin;
  padding: 10vmin;
}
h2,h1 {
  text-transform: capitalize;
  
}
.accent {
  color:#F24607 !important;
}
.post-headline {
  font-size: 2.5vmin;
  color: #A60303;
}
.padme {
  margin-bottom: 100px;
}

