<%- include('../partials/header') %>
<h2 class="header"><%= user.user %></h2>
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
          <input value="<%= post %>" type="text">
        </div>
      </div>
    </div>
  </div>
  <br>


  