<%- include('../partials/header') %>
<h2 class="header"><%= user.user %></h2>
<% user.posts.forEach(function(post) { %>
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= post.content %></p>
        </div>
        <div class="card-action">
          <a onclick="showFunc()" href="#">Edit</a>
          <form action="/users/profile/<%= post._id %>?_method=DELETE" method="POST" class="secondary-content">
            <button type="submit" class="btn-small">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <form action="" id='editForm' style="display:none">
    <h1 class="center">Edit Post</h1>
      <input type="text">
      <div class="center">
        <br>
          <input type="submit" class="btn-small">
      </div>
    </form>
<% }) %>

<script>
function showFunc() {
  var x = document.getElementById("editForm");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

